<div class="container">
  <div class="row">

    <div>
      <h2>Requests <%= @user.name %></h2>
      <% my_count = @user.boats.map { |boat| boat.bookings.count } %>
      <p>You have <%= my_count.sum %> requests</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <h3><u>New</u></h3>
    </div>
    <div class="col-sm-2">
      <h3>Past</h3>
    </div>
  </div>

<% @user.boats.each do |boat| %>
  <% if boat.bookings.count.positive? %>
    <div class="card-product mb-3">
      <%= cl_image_tag boat.photo.key%>
      <div class="card-product-infos">
        <h4><%= link_to boat.name, boat_path(boat) %></h4>
        <p>From <strong>checkin to checkout</strong></p>
        <p>by Sam</p>
        <button type="button" class="btn btn-primary">Accept</button>
        <button type="button" class="btn btn-secondary">Reject</button>
      </div>
    </div>
  <% end %>
<% end %>

<div>
<p><%= link_to 'Back to my profiles', profile_path(@user) %></p>
</div>

</div>


