<% if @user.boats.all? { |boat| boat.bookings.count.zero? } %>
  <div class="titles-no-bookings">
    <h2>My Requests</h2>
    <%= render 'shared/tabs' %>
    <p>When you’re ready to start planning your next trip, we’re here to help. <%= link_to 'Learn more', "#"  %></p>
  </div>
  <div class="bg-no-requests">
    <div class="no-bookings-text">
      <div><h2>Relax, someone will book your boat soon!</h2></div>
      <div><%= link_to 'Get Started', boats_path, class: "btn btn-primary"  %></div>
    </div>
  </div>

  <% else %>
    <div class="container">
    <div class="row">
      <div>
        <h2>My Requests</h2>
        <% my_count = @user.boats.map { |boat| boat.bookings.count } %>
        <p>You have <%= my_count.sum %> <%= my_count.sum ==1 ? 'request' : 'requests' %> </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <h3><u>New</u></h3>
      </div>
      <div class="col-sm-2">
        <h3>Past</h3>
      </div>
    </div>

    <% @user.boats.each do |boat| %>
      <% if boat.bookings.count.positive? %>
        <% boat.bookings.each do |booking| %>
          <div class="card-product mb-3">
            <%= cl_image_tag boat.photo.key%>
            <div class="card-product-infos">
              <h4><%= link_to boat.name, boat_path(boat) %> <%= booking.status %></h4>
              <p>From <strong><%= booking.checkin.strftime("%d %b") %></strong> to <strong><%= booking.checkout.strftime("%d %b") %></strong></p>
              <p>by <%= User.find_by(id: booking.user_id).name %></p>
              <button type="button" class="btn btn-primary"><%= link_to 'Accept', boat_booking_path(booking.boat, booking, booking:{ status:"approved" }), method: :patch %></button>
              <button type="button" class="btn btn-secondary"><%= link_to 'Reject', boat_booking_path(booking.boat, booking, booking:{ status:"rejected" }), method: :patch %></button>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <div>
      <p><%= link_to 'Back to my profiles', profile_path(@user) %></p>
    </div>
  </div>

<% end %>

