<h2>Here are all requests of <%= @user.name %></h2>

<% bookings_count = [] %>
<% @user.boats.each do |boat| %>
  <% bookings_count << boat.bookings.count %>
<% end %>
<p>You have <%= bookings_count.sum %> requests</p>


<ul>
  <% @user.boats.each do |boat| %>
  <h4><%= boat.name %> : <%= boat.bookings.count %> requests</h4>
    <% boat.bookings.each do |request| %>
    <li>A request from <%= request.user.name %> is <%= request.status %></li>
    <% end %>
  <% end %>
</ul>


<p><%= link_to 'Back to my profiles', profile_path(@user) %></p>

