<div class="profile-show-container">
  <div class="profile-show-menu">
    <div class="profile-menu">
      <p style="display: flex;align-items: center; text-align: start"><i class="fas fa-user-alt"></i><%= link_to "Profile", "#", class: "dropdown-item" %></p>
      <p style="display: flex;align-items: center; text-align: start"><i class="fas fa-ship"></i><%= link_to "My Boats", "#", class: "dropdown-item" %></p>
      <p style="display: flex;align-items: center; text-align: start"><i class="fas fa-inbox"></i><%= link_to "Requests", "#", class: "dropdown-item" %></p>
      <p style="display: flex;align-items: center; text-align: start"><i class="far fa-calendar-alt"></i><%= link_to "Bookings", "#", class: "dropdown-item" %></p>
    </div>
    <div class="profile-menu">
      <p style="display: flex;align-items: center; text-align: start"><i class="fas fa-user-cog"></i><%= link_to "Settings", "#", class: "dropdown-item" %></p>
      <p style="display: flex;align-items: center; text-align: start"><i class="fas fa-info-circle"></i><%= link_to "More Info", "#", class: "dropdown-item" %></p>
      <p style="display: flex;align-items: center; text-align: start"><i class="fas fa-lock"></i><%= link_to "Privacy", "#", class: "dropdown-item" %></p>
      <p style="display: flex;align-items: center; text-align: start"><i class="fas fa-sign-out-alt"></i><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></p>
    </div>

  </div>
  <div class="profile-show-modal">
    <h4>Welcome on board <strong><%= @user.name %></strong>!</h4>
    <div class="profile-cover-picture">
      <%= image_tag "profile-cover-picture", alt: "profile-cover" %>
    </div>
    <div class="profile-avatar" style="margin-right: 24px;position: relative;bottom: 45px;left: 45px;">
      <div class="profile-user-picture">
        <div> <%= cl_image_tag @user.photo.key, width: 120, height: 120, crop: :fill %> </div>
        <div class="d-flex">
          <p style="font-size: 14px;"><%= link_to "Change", edit_user_registration_path %></p>
        </div>
      </div>
      <div class="profile-user-info" style="display: flex;flex-direction: column;justify-content: end;margin-bottom: 2%;margin-left: 2%;">
        <strong><h4><%= @user.name %></h4></strong>
        <div class="d-flex">
          <p style="margin-right: 24px"><%= @user.bio %></p>
          <p><i class="fas fa-map-marker-alt" style="color: #ff5f40; margin-right: 8px;"></i>Berlin, DE</p>
        </div>
      </div>
    </div>
    <div class="user-info">
      <%#= render %>
    </div>
  </div>
</div>



<p><%= @user.name %> has <%= @user.boats.count %> boats</p>
<%= link_to 'See Boats', my_boats_profiles_path %>
<hr>
<p><%= @user.name %> has <%= @user.bookings.count %> Bookings</p>
<%= link_to 'See Bookings', bookings_path %>
<hr>

<% bookings_count = [] %>
<% @user.boats.each do |boat| %>
  <% bookings_count << boat.bookings.count %>
<% end %>
<p>You have <%= bookings_count.sum %> requests</p>
<%= link_to 'See Requests', my_requests_profiles_path %>

<hr>
<p>Bio:</p>
<%= @user.bio %>
<hr>
<p>E-mail</p>
<%= @user.email %>
<hr>
