<div class="profile-show-container" style="height: max-content;">
  <div class="profile-show-menu">
    <div class="profile-menu">
      <!-- <p id="btn-profile" class="dropdown-item" style="display: flex;align-items: center; text-align: start; cursor: pointer; padding: 0;"><i class="fas fa-user-alt" style="margin-right: 24px;"></i> Profile </p> -->
      <!-- <p id="btn-boat" class="dropdown-item" style="display: flex;align-items: center; text-align: start; cursor: pointer; padding: 0;"><i class="fas fa-ship" style="margin-right: 24px;"></i>My Boats</p> -->
      <p style="display: flex;align-items: center; text-align: start"><i class="fas fa-user-alt"></i><%= link_to "Profile", profile_path(@user), class: "dropdown-item" %></p>
      <p style="display: flex;align-items: center; text-align: start"><i class="fas fa-ship"></i><%= link_to "Boats", my_boats_profiles_path, class: "dropdown-item" %></p>
      <p style="display: flex;align-items: center; text-align: start"><i class="fas fa-inbox"></i><%= link_to "Requests", my_requests_profiles_path, class: "dropdown-item" %></p>
      <p style="display: flex;align-items: center; text-align: start"><i class="far fa-calendar-alt"></i><%= link_to "Bookings", bookings_path, class: "dropdown-item" %></p>
    </div>
    <div class="profile-menu">
      <p style="display: flex;align-items: center; text-align: start"><i class="fas fa-user-cog"></i><%= link_to "Settings", "#", class: "dropdown-item" %></p>
      <p style="display: flex;align-items: center; text-align: start"><i class="fas fa-info-circle"></i><%= link_to "More Info", "#", class: "dropdown-item" %></p>
      <p style="display: flex;align-items: center; text-align: start"><i class="fas fa-lock"></i><%= link_to "Privacy", "#", class: "dropdown-item" %></p>
      <p style="display: flex;align-items: center; text-align: start"><i class="fas fa-sign-out-alt"></i><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></p>
    </div>

  </div>
  <%= render 'shared/profile_show_modal' %>
</div>


<!-- Modal Pop-Up -->
<!-- Here are located all the pop-up windows -->

<div class="bg-modal">
  <div class="modal-content">
    <div class="close">+</div>
    <%#= render 'shared/edit_profile_picture' %>
  </div>
</div>

<div class="my-boats-modal">
  <div class="boats-modal-content">
    <%= render 'shared/my_boats_profile' %>
  </div>
</div>


<!-- <p><%#= @user.name %> has <%= @user.boats.count %> boats</p>
<%#= link_to 'See Boats', my_boats_profiles_path %>
<hr>
<p><%#= @user.name %> has <%= @user.bookings.count %> Bookings</p>
<%#= link_to 'See Bookings', bookings_path %>
<hr>

<%# bookings_count = [] %>
<%# @user.boats.each do |boat| %>
  <%# bookings_count << boat.bookings.count %>
<%# end %>
<p>You have <%#= bookings_count.sum %> requests</p>
<%#= link_to 'See Requests', my_requests_profiles_path %>

<hr>
<p>Bio:</p>
<%#= @user.bio %>
<hr>

