<h2>This is the profile of <%= @user.name %></h2>

<p><%= @user.name %> has <%= @user.boats.count %> boats</p>
<%= link_to 'See Boats', my_boats_profiles_path %>
<hr>
<p><%= @user.name %> has <%= @user.bookings.count %> Bookings</p>
<%= link_to 'See Bookings', bookings_path %>
<hr>

<% bookings_count = [] %>
<% @user.boats.each do |boat| %>
  <% bookings_count << boat.bookings.count %>
<% end %>
<p>You have <%= bookings_count.sum %> requests</p>
<%= link_to 'See Requests', my_requests_profiles_path %>

<hr>
<p>Bio:</p>
<%= @user.bio %>
<hr>
<p>E-mail</p>
<%= @user.email %>
<hr>

<%= link_to 'Edit Profile', edit_user_registration_path(current_user.id) %>

