<div class="container ml-3" id='disable-unavailable-dates' data-dates='<%= @unavailable_dates.to_json %>'>
  <%= simple_form_for [@boat, @booking] do |f| %>
  <%= f.input :checkin, as: :string, input_html: {class: 'datepicker'} %>
  <%= f.input :checkout, as: :string, input_html: {class: 'datepicker'} %>
  <%= f.submit %>
<% end %>
</div>
