<div class="container ml-3">
  <h1><%= @booking.boat.name %></h1>
  <%= cl_image_tag @booking.boat.photo.key, height: 300, width: 300, crop: :fill %>
  <ul>
    <li>Your booking is: <%= @booking.status %></li>
    <li>The boat owner is: <%= @booking.boat.user.name %></li>
    <li>Check in: <%= @booking.checkin.strftime("%m/%d/%Y") %></li>
    <li>Check out: <%= @booking.checkout.strftime("%m/%d/%Y") %></li>
    <li><%= @booking.booking_price %> EUR</li>
  </ul>

<% unless @booking.status == "cancelled" %>
  <% if policy(@booking).edit? %>
   <button type="button" class="btn btn-link"><%= link_to "Update", edit_booking_path(@booking) %></button>
  <% end %>

  <button type="button" class="btn btn-link"><%= link_to 'Cancel the booking', booking_path(@booking, booking:{ status:"cancelled" }), method: :patch %></button>
<% end %>
  <p><%= link_to 'Back to all bookings', bookings_path %></p>
</div>
