<div class="container ml-3">
  <h1><%= @booking.boat.name %></h1>
  <%= cl_image_tag @booking.boat.photo.key, height: 300, width: 300, crop: :fill %>
  <ul>
    <li>Your booking is: <%= @booking.status %></li>
    <li>Check in: <%= @booking.checkin.strftime("%m/%d/%Y at %I:%M%p") %></li>
    <li>Check out: <%= @booking.checkout.strftime("%m/%d/%Y at %I:%M%p") %></li>
    <li><%= @booking.booking_price %></li>
  </ul>

  <% if policy(@booking).edit? %>
   <p><%= link_to "Update", edit_booking_path(@booking) %></p>
  <% end %>

  <% if policy(@booking).cancel? %>
    <p><%= link_to 'Cancel', booking_path(@booking), method: :cancel %></p>
  <% end %>


</div>
