<div class="container ml-3">
  <h1><%= @booking.boat.name %></h1>
  <% if @booking.boat.photo.attached?  %>
    <%= cl_image_tag @booking.boat.photo.key, height: 300, width: 300, crop: :fill %>
  <% else %>
    <%= cl_image_tag "add-new-boat_copy_g6t5lo", height: 300, width: 300, crop: :fill %>
  <% end %>

  <ul>
    <li>Your booking is: <%= @booking.status %></li>
    <li>The boat owner is: <%= @booking.boat.user.name %></li>
    <li>Check in: <%= @booking.checkin.strftime("%d %b") %></li>
    <li>Check out: <%= @booking.checkout.strftime("%d %b") %></li>
    <li><%= @booking.booking_price %> EUR</li>
  </ul>

<% unless @booking.status == "cancelled" %>
  <% if policy(@booking).edit? %>
   <button type="button" class="btn btn-link"><%= link_to "Update", edit_boat_booking_path(@boat) %></button>
  <% end %>

  <button type="button" class="btn btn-link"><%= link_to 'Cancel the booking', boat_booking_path(@booking, booking:{ status:"cancelled" }), method: :patch %></button>
<% end %>
  <p><%= link_to 'Back to all bookings', bookings_path %></p>

</div>
