<div class="footer-container">
  <div class="footer-titles">
    <p style="text-align: end;"><%= link_to "Impressum", "#"  %></p>
    <p class="company-title" style="margin-bottom: 40px;"><%= link_to "Boatbnb", "#"  %></p>
    <p class="help-title"><%= link_to "Help Center", "#"  %></p>
  </div>
  <div class="footer-data d-flex">
    <div>
      <ul>
        <h4>Company</h4>
        <li><%= link_to 'About us', '#'  %></li>
        <li><%= link_to 'Blog', '#'  %></li>
        <li><%= link_to 'Investors', '#'  %></li>
        <li><%= link_to 'Careers', '#'  %></li>
        <li><%= link_to 'Newsroom', '#'  %></li>
      </ul>
    </div>
    <div>
      <ul>
        <h4>Community</h4>
        <li><%= link_to 'Boatbnb Magazine', '#'  %></li>
        <li><%= link_to 'Invite Friends', '#'  %></li>
        <li><%= link_to 'Gift Cards', '#'  %></li>
        <li><%= link_to 'Safety', '#'  %></li>
        <li><%= link_to 'Diversity', '#'  %></li>
      </ul>
    </div>
    <div>
      <ul>
        <h4>Products</h4>
        <li><%= link_to 'Boats', '#'  %></li>
        <li><%= link_to 'Captains', '#'  %></li>
        <li><%= link_to 'Policy', '#'  %></li>
        <li><%= link_to 'Open Sea', '#'  %></li>
      </ul>
    </div>
    <div>
      <ul>
        <h4>Support</h4>
        <li><%= link_to 'Updates for COVID-19', '#'  %></li>
        <li><%= link_to 'Cancellation Options', '#'  %></li>
        <li><%= link_to 'Investors', '#'  %></li>
        <li><%= link_to 'Transparency', '#'  %></li>
        <li><%= link_to 'Boatbnb for Business', '#'  %></li>
      </ul>
    </div>
  </div>
  <div class="footer-social">
    <div class="social-links">
      <ul>
        <li><%= link_to '<i class="fab fa-twitter"></i>'.html_safe, '#' %></li>
        <li><%= link_to '<i class="fab fa-facebook-square"></i>'.html_safe, '#' %></li>
        <li><%= link_to '<i class="fab fa-youtube"></i>'.html_safe, '#' %></li>
        <li><%= link_to '<i class="fab fa-linkedin"></i>'.html_safe, '#' %></li>
        <li><%= link_to '<i class="fab fa-instagram"></i>'.html_safe, '#' %></li>
        <li><%= link_to '<i class="fas fa-globe-americas"></i> English'.html_safe, '#' %></li>
        <li><%= link_to '<i class="fas fa-map-marker-alt"></i> Berlin'.html_safe, '#' %></li>
      </ul>
    </div>
    <div class="copyrights">
      <p style="margin: 0; margin-top: 50px;">© 2020 Boatbnb Inc. All rights reserved</p>
    </div>
  </div>
</div>
