<div class="home-container">
  <%= render "search_bar_home" %>
    <% if current_user.nil? %>
      <div class="btn btn-primary">
        <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
  </div>
</div>
  <!-- About us section: -->

<div class="user-favorite-container">
  <h2>User's Favorites</h2>
  <div class="class-favorite-container">
    <div class="user-favorite-card">
      <div>
        <%= cl_image_tag 'Screen_Shot_2020-07-17_at_21.32.08_hlyngr', heigh: 250, width: 250 %>
      </div>
      <div>
        <h2>Beth</h2>
      </div>
      <div>
        <p>The daycruiser 640 can carry up to 6 people and offers plenty of space for your boat trip in Berlin. </p>
      </div>
    </div>
    <div class="user-favorite-card">
      <div>
        <%= cl_image_tag 'Screen_Shot_2020-07-17_at_21.30.36_kejuok', heigh: 250, width: 250 %>
      </div>
      <div>
        <h2>Summer</h2>
      </div>
      <div>
        <p>Each raft is equipped with its own barbecue and cabin. The latter allowing you a comfortable tour</p>
      </div>
    </div>
    <div class="user-favorite-card">
      <div>
        <%= cl_image_tag 'Screen_Shot_2020-07-17_at_21.35.57_kit2qt', heigh: 250, width: 250 %>
      </div>
      <div>
        <h2>Jessica</h2>
      </div>
      <div>
        <p>Pack your swimsuit and seven of your best friends together and jump on the raft for an unique tour of Berlin. </p>
      </div>
    </div>
  </div>
</div>

<div class="black-container">
  <div class="d-flex justify-content-between title-btn-black">
    <h2>Experience with top sailors</h2>
    <%= link_to 'Explore', '#', class: "btn btn-outline-light"  %>
  </div>
  <div class="black-content">
    <p>Book a boat and learn how to sail with the best local captains. Listen about their experiences
sailing around the world.</p>
  </div>
  <div class="black-cards-container">
    <div class="main-black-card">
      <%= cl_image_tag "3583747_17113002580060046821_b956oc", heigh: 500, width: 500, crop: :fill %>
      <p>More than 1,000 water sports athletes have already acquired driver's licenses for sailing or/and motor boats in this water sports school!</p>
    </div>
    <div class="right-black-cards">
      <div>
        <div class="small-black-card"></div>
        <div class="small-black-card"></div>
      </div>
      <div class="large-black-card">

      </div>
    </div>
  </div>
</div>


<!-- <div class="about-us-grid">
  <div class="about-us-form">
    <div>
      <h2>Rent boats in Berlin</h2>
    </div>
    <div>
      <p>Enjoy your time with friends and family</p>
    </div>
  </div>

  <div class="about-us-form">
    <div>
      <h2>Go on an adventure</h2>
    </div>
  <div>
    <p>Give yourself time that you will remember forever</p>
  </div>
  </div>

  <div class="about-us-form">
    <div>
      <h2>Add your boat</h2>
    </div>
  <div>
      <p>Make money on your boat when not using it</p>
  </div>
  </div>
</div> -->



