<div class="home-container">
  <div class="search-bar">
    <div class="input">
      <%= form_tag boats_path, method: :get do %>
      <%= text_field_tag :location, params[:location], class: "form-control", placeholder: "Where do you want to sail?" %>
    </div>
    <div class="input" id='capacity'>
      <%= text_field_tag :capacity, params[:capacity], class: "form-control", placeholder: "How many people?" %>
    </div>
    <%= text_field_tag :checkin, params[:checkin], class: "datepick", placeholder: "check-in date" %>
    <%= text_field_tag :checkout, params[:checkout], class: "datepick", placeholder: "check-out date" %>
      <div class="input"><%= submit_tag "Search", class: "btn btn-primary" %></div>
    <% end %>
    <% if current_user.nil? %>
      <div class="btn btn-primary">
        <%= link_to "Sign Up", new_user_registration_path %>
      </div>
    <% end %>
  </div>
</div>
  <!-- About us section: -->
<div class="about-us-grid">
  <div class="about-us-form">
    <div>
      <h2>Rent boats in Berlin</h2>
    </div>
    <div>
      <p>Enjoy your time with friends and family</p>
    </div>
  </div>

  <div class="about-us-form">
    <div>
      <h2>Go on an adventure</h2>
    </div>
  <div>
    <p>Give yourself time that you will remember forever</p>
  </div>
  </div>

  <div class="about-us-form">
    <div>
      <h2>Add your boat</h2>
    </div>
  <div>
      <p>Make money on your boat when not using it</p>
  </div>
  </div>
</div>



