<div class="home-container">
  <div>
    <%= render "search_bar_home" %>
  </div>
  <div class="text-home-page">
    <h1>You don't need to go far to rent the best boats</h1>
  </div>
  <% if current_user.nil? %>
    <div class="btn btn-primary blue-sign-up-btn">
      <%= link_to "Sign Up", new_user_registration_path %>
    </div>
  <% end %>
</div>

  <!-- User favorite section: -->

<div class="user-favorite-container">
  <div class="user-favorite-home-page">
    <h2 style="width: 60%">User's favorite</h2>
  </div>
  <div class="class-favorite-container">
    <div class="user-favorite-card">
      <div>
        <%= cl_image_tag 'Screen_Shot_2020-07-17_at_21.32.08_hlyngr' %>
      </div>
      <div>
        <h2>Beth</h2>
      </div>
      <div>
        <p>The daycruiser 640 can carry up to 6 people and offers plenty of space for your boat trip in Berlin. </p>
      </div>
    </div>
    <div class="user-favorite-card">
      <div>
        <%= cl_image_tag 'Screen_Shot_2020-07-17_at_21.30.36_kejuok' %>
      </div>
      <div>
        <h2>Summer</h2>
      </div>
      <div>
        <p>Each raft is equipped with its own barbecue and cabin. The latter allowing you a comfortable tour</p>
      </div>
    </div>
    <div class="user-favorite-card">
      <div>
        <%= cl_image_tag 'Screen_Shot_2020-07-17_at_21.35.57_kit2qt' %>
      </div>
      <div>
        <h2>Jessica</h2>
      </div>
      <div>
        <p>Pack your swimsuit and your best friends and jump on the raft for an unique tour of Berlin. </p>
      </div>
    </div>
  </div>
</div>

<div class="black-container">
  <div class="d-flex justify-content-between title-btn-black">
    <h2>Experience with top sailors</h2>
    <%= link_to 'Explore', '#', class: "btn btn-outline-light"  %>
  </div>
  <div class="black-content">
    <p>Book a boat and learn how to sail with the best local captains. Listen about their experiences
    sailing around the world.</p>
  </div>
  <div class="black-cards-container d-flex " style="width: 100%;">
    <div class="main-black-card">
      <%= cl_image_tag "3583747_17113002580060046821_b956oc", heigh: 500, width: 500, crop: :fill %>
      <p>More than 1,000 water sports athletes have already acquired driver's licenses for sailing or/and motor boats in this water sports school!</p>
    </div>
    <div class="right-black-cards" style="width: 100%">
      <div class="d-flex justify-content-around small-black-cards-container">
        <div class="small-black-card">
          <%= cl_image_tag "Screen_Shot_2020-07-17_at_21.59.36_kspmzp", :height=>200, :crop=>"scale" %>
          <p>Learn how to sail with the bests sailors.</p>
        </div>
        <div class="small-black-card">
          <%= cl_image_tag "Screen_Shot_2020-07-17_at_21.58.33_ruda7t", :height=>200, :crop=>"scale" %>
          <p>Experience a boat life style while enjoying great holidays.</p>
        </div>
        <div class="small-black-card">
          <%= cl_image_tag "Screen_Shot_2020-07-17_at_22.51.19_gqgqh5", :width=>218, :crop=>"scale" %>
          <p>Have a great time while diving with sharks.</p>
        </div>
      </div>
      <div class="large-black-card">
        <%= cl_image_tag "Screen_Shot_2020-07-17_at_22.56.44_hbl1zk", :width=>700, :crop=>"scale"%>
        <p>With us you will have an unforgettable experience guaranteed.</p>
      </div>
    </div>
  </div>
</div>

<div class="reviews-big-card d-flex">
  <div class="reviews-big-card-photo">
    <%= cl_image_tag 'Screen_Shot_2020-07-17_at_23.05.48_m3chqe', heigh: 250, width: 250 %>
  </div>
  <div class="reviews-big-card-content">
    <p><i class="fas fa-quote-left" style="color: #277593;"></i></p>
    <p>When it's time to travel and you love boats <strong>BoatBnb</strong> it's the best option. Max and Liz were the best hosts you can image to have. My wife finally overcome her fear of the sea. Amazing adventure and magical experience. We couldn't have ask for a better host. Last but not least: Great service of the company. Thank you!</p>
    <p style="color: #277593;">Ralph Faerber</p>
    <p style="color: #3e91b2;">Berlin</p>
  </div>
</div>



