<div>
  <% if boat.photo.attached?  %>
    <%= cl_image_tag boat.photo.key, height: 200, width: 200, crop: :fill, class: "mb-3" %>
  <% else %>
    <%= cl_image_tag 'add-new-boat_copy_g6t5lo', height: 300, width: 300, crop: :fill %>
  <% end %>
  <h2><%= link_to boat.name, boat_path(boat) %></h2>
  <p><%= boat.price %> euro/day, <%= boat.capacity %> people</p>
</div>

