
<div class="search-bar-index mt-3">
    <%= form_tag boats_path, method: :get  do %>
      <span class="input">
        <%= text_field_tag :location, params[:location], class: "form-control d-inline w-auto", placeholder: "Location" %>
      </span>
      <span class="input" id='capacity'>
        <%= text_field_tag :capacity, params[:capacity], class: "form-control d-inline", placeholder: "People?" %>
      </span>
        <%= hidden_field_tag :checkin, params[:checkin], class: "datepicker d-inline", placeholder: "check-in" %>
      <%= hidden_field_tag :checkout, params[:checkout], class: "datepicker d-inline", placeholder: "check-out" %>
      <span class="input"><%= submit_tag "Search", class: "btn btn-primary" %>
      </span>
    <% end %>
</div>
