<div class="container text-center">
  <h1>Sail away with one of the boats</h1>
</div>

<div class="container search-criteria">

  <div class="search-item">
    <h3><%= params[:location] %></h3>
  </div>
  <div class="search-item">
    <h3><%= params[:capacity] %></h3>
  </div>
  <div class="search-item">
    <h3><%= params[:checkin] %></h3>
  </div>
  <div class="search-item">
    <h3><%= params[:checkout] %></h3>
  </div>

</div>

<div id="content-index" class="ml-3 pl-3 mr-3 pr-3">
  <div class="grid-boats">
    <% @boats.each do |boat| %>
      <!-- <div> -->
    <div class="card-product" id="boat-index">
      <%= cl_image_tag boat.photo.key, height: 300, width: 300, crop: :fill %>

      <div class="card-product-infos" id="boat-index-infos">
        <h1><%= link_to boat.name, boat_path(boat) %></h1>
        <p><%= boat.description %></p>
      </div>
      <div id="reviews-boat-index">
        <p>⭐️</p>
<!-- reviews bottom right corner -->
      </div>
    </div>
    <% end %>
  </div>


  <div id="map-index" class="mt-3"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key='<%= ENV['MAPBOX_API_KEY'] %>'></div>
  </div>
</div>


<!-- scss currently in _card_product component -->
