


<div class="container text-center">
  <h1>Sail away with one of the boats</h1>
  <div class="container">
  <%= render "search_bar_index" %>
</div>
</div>

<div id="content-index" class="ml-3 pl-3 mr-3 pr-3">
  <div class="grid-boats">
    <% @boats.each do |boat| %>
      <!-- <div> -->
    <div class="card-product" id="boat-index">
      <% if boat.photo.attached?  %>
        <%= cl_image_tag boat.photo.key, height: 300, width: 300, crop: :fill %>
      <% else %>
        <%= cl_image_tag 'add-new-boat_copy_g6t5lo', height: 300, width: 300, crop: :fill %>
      <% end %>
      <div class="card-product-infos" id="boat-index-infos">
        <div class="d-flex justify-content-between">
          <h1><%= link_to boat.name, boat_path(boat) %></h1>
        <!-- REVIEW STARS -->

          <% rating = [] %>
          <% if boat.reviews.count != 0 %>
            <% boat.reviews.each do |review| %>
              <% rating << review.rating %>
            <% end %>
            <% prom = rating.sum.to_f / boat.reviews.count %>
            <div class="d-flex">
              <% prom.to_i.times do  %>
              <i class="fas fa-star" style="color: #ffa931"></i>
            <% end %>
            <%= prom.round(1) %> (<%= boat.reviews.count %>)
            </div>

          <% else %>
            <% puts "" %>
          <% end %>
          <!-- END -->

        </div>

        <p><%= boat.description %></p>
      </div>
      <div id="reviews-boat-index">

<!-- REVIEW STARS -->


<!-- END -->
      </div>
    </div>
    <% end %>
  </div>


  <div id="map-index" class="mt-3"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key='<%= ENV['MAPBOX_API_KEY'] %>'></div>
  </div>
</div>




<!-- scss currently in _card_product component -->
