<div class="container">
  <div class="row row-boat">
    <div class="col-12">
      <div class="d-flex show-boat-title" style="margin-top: 5%;">
        <h1><%= @boat.name %></h1>
        <div class="show-boat-rating">
          <p><%= render 'shared/reviews' %></p>
        </div>
        </div>
        <%= photo @boat %>
    </div>
  </div>
  <div class="row row-boat">
    <div class="col-8 pt-3">
      <p><%= capacity @boat %> </p>
      <p><%= description @boat %></p>
      <p>PRICE: <%= @boat.price %> EURO / day</p>
        <div class="d-flex">
          <p><%= edit_link?(@boat) %></p>
          <% if policy(@boat).destroy? %>
           <p><%= link_to 'Delete', boat_path(@boat), method: :delete, class: "btn btn-danger" %></p>
          <% end %>
          </div>
            <% if current_user %>
              <% unless policy(@boat).edit?%>
                <%= link_to "Contact Owner", conversations_path(sender_id: current_user.id, recipient_id: @boat.user.id), method: "post", class: "btn btn-primary" %>
                <%= link_to "Review this boat", new_boat_review_path(@boat), class: "btn btn-primary" %>
              <% end %>
            <% end %>
  </div>
<div class="col-4 pt-3">
  <% unless policy(@boat).edit? %>
    <div class="embedded_booking_form mt-3 pt-3 pb-3 pr-3 pl-3">
      <%= render "bookings/form" %>
    </div>
    <% end %>

</div>


  </div>
  <h3 class="mt-5">Reviews</h3>
  </div>

<%= render 'shared/reviews_boat_show' %>


<div class="container">
    <div class="container mt-3" id="map-show"
   style="width: 100%; height: 500px; border-radius: 10px;"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key='<%= ENV['MAPBOX_API_KEY'] %>'>
  </div>
</div>
