<div class="container ml-3">
  <h1><%= @boat.name %></h1>
  <%= cl_image_tag @boat.photo.key, height: 300, width: 300, crop: :fill %>
  <% if @boat.capacity.present? %>
    <p><%= @boat.name %> can accomodate <%= @boat.capacity %> people. </p>
  <% end %>
  <% if policy(@boat).edit? %>
   <p><%= link_to "Update", edit_boat_path(@boat) %></p>
  <% end %>
  <% if policy(@boat).destroy? %>
    <p><%= link_to 'Delete', boat_path(@boat), method: :delete %></p>
  <% end %>
</div>
